<h4>New List</h4>
<div class="list">

<form class="new_list list">
  <label for="list_title">Title</label>
  <input type="text" name="list[title]" id="list_title">

  <input type="submit" value="Create List!">
</form>
</div>


<!-- may not need -->
<a href="#boards/ + <%= list.id %>">Back to List Index</a>
