<div class="login-page-wrapper">


<form action="<%=users_url%>" method="post" class="new-user-form">
<h1 class="login-header"> Sign Up </h1>
  <%= render partial: "shared/form" %>

  <input type="submit" value="Sign Up">
</form>

</div>
