<form class="new_board input-group">
  <input type="text"
         name="board[title]"
         id="board_title"
         placeholder="Board title"
         class="form-control">
  <button class="btn btn-primary form-control submit-button">Create Board!</button>
</form>
