<a href="<%= "#boards/" + board.id %>" ><%= board.escape("title") %></a>
<button type="button"
        class="delete_board btn"
        data-id="<%= board.id %>"
        ><span class="glyphicon glyphicon-remove"></span></button>
