<h2 class="title">Boards</h2>

<ul class="boards-index list-group">
</ul>

<button class="add-form btn">
  <span class="glyphicon glyphicon-plus"></span>
</button>

<div class="board-form"></div>

<!-- <a href="#boards/new">New Board</a> -->
